*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

input, button, textarea, select {
  font: inherit;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
}

button:disabled {
  cursor: auto;
}

button:focus {
  outline-offset: 2px;
}
